<div class="container">
    <button routerLink="/autocomplete">Auto Complete</button>
    <button routerLink="/chips">Chips</button>
    <button routerLink="/datepicker">Date-picker</button>
    <button routerLink="/dialog">Dialog</button>
    <button routerLink="/button">Button</button>
    <button routerLink="/button-toggle">Button-Toggle</button>
    <button routerLink="/card">Card</button>
    <button routerLink="/formfield">form-Field</button>
    <button routerLink="/matgrid">mat-Grid</button>
    <button routerLink="/expansionpanel">Expansion-Panel</button>
    <button routerLink="/checkbox">Checkbox</button>
    <button routerLink="/divider">Divider</button>
</div>

<div class="container2">
    <router-outlet></router-outlet>
</div>